/* Selector, atributo, valor*/
/* A quién voy a modificar, qué le voy a modificar, cómo quiero que quede */

*{/* selector universal */
    color:navy;
}
article{/* selector por tagname */
    border:1px solid red;
}

.text-purple{
    color: purple;
}

p{
    color:orange;
}

p{
    color: green;
}

.text-italic{/* selector por clase*/
    font-style: italic;
}

.text-underline{
    text-decoration: underline;
}

#main-heading/* selector por id */
{
 font-size: 2.5rem;
 font-weight: bold;   
}